[flake8]

ignore = 
    E501,
    W503,
    W293,
    E203,
    F403,
    F405,
    W291,
    E302,


max-line-length = 120


exclude = 
    migrations,
    venv,
    env,
    __init__,
    __pycache__,
    .git,
    *.html,
    *.md