.wrapper {
    width: 100%;
}
.wrap {
    display: flex;

    margin-left: auto;
    margin-right: auto;
    max-width: 1800px;
}


.lc-block {
    display: flex;
    flex-direction: row;
    border: 0;
    font-size: 100%;
    width: 100%;
    font: inherit;
    margin: 0;
    padding: 40px;
    vertical-align: baseline;
    backdrop-filter: blur(5px);
    background: #21252982;
    gap: 1rem;
}

.lc-nav {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
}

.block-list {
    display: flex;
    
    height: 800px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 16px;
    padding-top: 20px;

    padding-bottom: 40px;
    position: relative;
    white-space: normal;

    flex-direction: column;
    /* justify-content: center; */
    background: #ffffff;
    border-radius: 10px;
}

.block-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.block-list-top .block-list-title {
    font-size: 2rem;
}

.block-list .block-list-controls {
    display: flex;
    gap: .5rem;
    /* max-height: 50%; */

}
.block-list-top .block-list-controls .search-box {
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    background: #1f1f1f;
    padding: 5px;
    height: 50%;
}

.block-list-top .block-list-controls .search-form {
    height: 100%;
}


.block-list-top .block-list-controls .search-input-container {
    display: flex;
    height: 100%;
    align-items: center;
}

.block-list-top .block-list-controls .search-input-container .bi {
    display: flex;
    width: 30px;
    height: 100%;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.block-list-top .block-list-controls .search-input {
    color: #f0f0f0;
    background: #ffffff26;
    border: none;
    border-radius: 8px;
    height: 100%;
    padding: 10px;
    font-size: 12px;
    width: 100%;
}

.block-list-top .block-list-controls .search-label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 12px;
    color: #666;
}

.block-list .block-list-controls .status-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    background: #1f1f1f;
    padding: 5px;
    height: 43px;
}

.block-list .block-list-controls .user-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    background: #1f1f1f;
    padding: 5px;
    height: 43px;
}


.block-list .block-list-controls .back-btn-container {
    display: flex;
    height: 100%;
    align-items: center;
    border-radius: 11px;
    background: #1f1f1f;
    padding: 5px;

}

.block-list-top .block-list-controls .back-btn-container .back-btn{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #f3f3f3;
    padding: 10px 10px 10px 10px;
    transition: 150ms;
    background: #1f1f1f;
    border: none;
    gap: .5rem;
}


.block-list-top .block-list-controls .back-btn-container .back-btn:hover {
    
    background: #292929;
    transition: 150ms;
}


.block-list .block-list-controls .actual-archived {
    display: flex;
    height: 43px;
    align-items: center;
    border-radius: 11px;
    background: #1f1f1f;
    padding: 5px;
    font-size: 12px;

}

.block-list .block-list-controls .actual-archived .registered-appointments-btn{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #9c9c9c;
    padding: 10px 10px 10px 10px;
    transition: 150ms;
    background: #1f1f1f;
    border: none;
}

.block-list .block-list-controls .actual-archived .actual-appointments-btn{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #9c9c9c;
    padding: 10px 10px 10px 10px;
    transition: 150ms;
    background: #1f1f1f;
    border: none;
}

.block-list .block-list-controls .actual-archived .archived-appointments-btn{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #9c9c9c;
    padding: 10px 10px 10px 10px;
    transition: 150ms;
    background: #1f1f1f;
    border: none;
}

.block-list .block-list-controls .actual-archived .actual-decisions-btn{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #9c9c9c;
    padding: 10px 10px 10px 10px;
    transition: 150ms;
    background: #1f1f1f;
    border: none;
}

.block-list .block-list-controls .actual-archived .archived-decisions-btn{
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    color: #9c9c9c;
    padding: 10px 10px 10px 10px;
    transition: 150ms;
    background: #1f1f1f;
    border: none;
}

.block-list .block-list-controls .actual-archived .active {

    color: #f0f0f0;
    background: #ffffff26;
    border-radius: 8px;
    transition: 150ms;
}

.block-list-items {
    margin-top: 10px;
    display: flex;
    
    overflow-x: hidden;
    overflow-y: scroll;

    position: relative;
    white-space: normal;

    flex-direction: column;

    gap: 1rem;
}

.block-list-items .no-appointments-banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100lvh;
}

.block-list-items .no-appointments-banner .title {
    display: flex;
    color: #868686;
    font-size: 2rem;
}

.block-list-items .no-appointments-banner .banner {
    display: flex;
}

.block-list-items .no-appointments-banner .banner svg {
    width: 100px;
    height: 100px;
    opacity: 0.3;
}

.appointment-card {
    display: flex;
    flex-direction: column;
    background: #00000005;
    padding: 2rem;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    gap: 1rem;
}

.appointment-card.archived {
    opacity: 0.8;
}

.appointment-card .top {
    display: flex;
    justify-content: space-between;
}

.appointment-card .top .right-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.appointment-card .top .right-block .status {
    display: flex;
    gap: 0.5rem;
    /* background: #e8732e; */
    padding: 10px;
    border: 1px solid #0000000f;
    border-radius: 10px;
    color: #131313;

}

.appointment-card .top .right-block .unread-count {
    display: flex;
    gap: 0.5rem;
    background: #e8732e;
    padding: 10px;
    border: 1px solid #0000000f;
    border-radius: 10px;
    color: #ffffff;
    justify-content: center;
    align-items: center;

}


.appointment-card .top .right-block .status-processing {
    color: #e8732e;
}
.appointment-card .top .right-block .status-registered {
    color: #a07b3a;
}
.appointment-card .top .right-block .status-finished {
    color: #2a6c9b;
}
.appointment-card .top .right-block .status-canceled {
    color: #c03b3b;
}
.appointment-card .top .right-block .status-declined {
    color: #f52d2d;
}


.appointment-card .top .right-block .status-accepted {
    color: #a07b3a;
}
.appointment-card .top .right-block .status-inwork {
    color: #2a6c9b;
}
.appointment-card .top .right-block .status-done {
    color: #c09d3b;
}
.appointment-card .top .right-block .status-declined {
    color: #f52d2d;
}



.appointment-card .top .left-block {
    display: flex;
    flex-direction: column;
}

.appointment-card .top .left-block .title {
    display: flex;
    font-weight: 500;
    font-size: 1.5rem;
}

.appointment-card .top .left-block .title pre {
    font-weight: 800;

    font-size: 1.5rem;
    padding: 1px;
    /* text-align: center; */
    margin: 0;
}

.appointment-card .top .left-block .deputy-position {
    display: flex;
}

.appointment-card .appointment-info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.appointment-card .appointment-info .theme {
    display: flex;
    gap: 1em;
    align-items: center;
}

.appointment-card .appointment-info .theme .title {
    display: flex;
    font-size: 1.2rem;
    color: #777777;
    font-weight: 200;
}

.appointment-card .appointment-info .theme .text {
    display: flex;
    font-size: 1.2rem;
}

.appointment-card .appointment-info .author {
    display: flex;
    gap: 1em;
    align-items: center;
}

.appointment-card .appointment-info .author .title {
    display: flex;
    font-size: 1.2rem;
    color: #777777;
    font-weight: 200;
}

.appointment-card .appointment-info .author .text {
    display: flex;
    font-size: 1.2rem;
}

.appointment-card .appointment-info .appointment-title {
    
    display: flex;
    gap: 1em;
    align-items: center;
}

.appointment-card .appointment-info .appointment-title .title {
    display: flex;
    font-size: 1.2rem;
    color: #777777;
    font-weight: 200;
}

.appointment-card .appointment-info .appointment-title .text {
    display: flex;
    font-size: 1.2rem;
}

.appointment-card .appointment-info .decision-isfinal {
    
    display: flex;
    gap: 1em;
    background: #cc0000d1;
    border: 2px solid #a10000;
    padding: 10px;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.appointment-card .appointment-info .decision-isfinal .title {
    display: flex;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 400;
}


.appointment-card .appointment-info .appointed-date-block {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.appointment-card .appointment-info .appointed-date-block .appointed-date-block-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: 200;
    color: #777777;
}

.appointment-card .appointment-info .appointed-date-block .appointed-date {
    display: flex;
    font-size: 1.5rem;
}

.appointment-card .appointment-info .appointed-date-block .appointed-time {
    display: flex;
    font-size: 1.5rem;
}

.appointment-card .appointment-info .btns-block {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.appointment-card .appointment-info .btns-block .appointment-creation-date {
    display: flex;
    align-items: flex-end;
}

.appointment-card .appointment-info .btns-block .appointment-creation-date .text {
    display: flex;
    color: #00000052;
}

.appointment-card .appointment-info .btns-block .details-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #111111;
    background: #0000000d;
    padding: 10px;
    border: 1px solid #0000000f;
    border-radius: 10px;
    transition: 150ms;
    width: 10rem;
}

.appointment-card .appointment-info .btns-block .details-btn:hover {
    display: flex;
    background: #00000023;
    transition: 150ms;
}


/*  ------- СТиль фильтров выпадающий список-------  */
.status-filter .status-filter-form {
    height: 35px;
    width: 15rem;
}

.status-filter .select-box {
    cursor: pointer;
    position: relative;
    max-width: 100%;
    height: 100%;
    /* margin: 5em auto; */
    font-size: 12px;
    width: 100%;
  }
  
  .status-filter .select,
  .status-filter .label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;

  }
  
  .status-filter .select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
  }
  .status-filter .select-box1 {
    color: #f0f0f0;
    background: #ffffff26;
    border-radius: 8px;
  }
  
  .status-filter .label {
    position: relative;
    padding: 7px;
    cursor: pointer;
    height: 100%;
    font-size: 12px;
  }
  .status-filter .open .label::after {
     content: "▲";
  }
  .status-filter .label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 3px solid #1f1f1f;
  }


    /* Фильтр посетителя */
  .user-filter .user-filter-form {
    height: 35px;
    width: 20rem;
}

.user-filter .select-box {
    cursor: pointer;
    position: relative;
    max-width: 100%;
    height: 100%;
    /* margin: 5em auto; */
    font-size: 12px;
    width: 100%;
  }
  
  .user-filter .select,
  .user-filter .label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
  }
  
  .user-filter .select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    background: none transparent;
    border: 0 none;
  }
  .user-filter .select-box1 {
    /* background: #ececec; */
    color: #f0f0f0;
    background: #ffffff26;
    border-radius: 8px;
  }
  
  .user-filter .label {
    position: relative;
    padding: 7px;
    cursor: pointer;
    height: 100%;
    font-size: 12px;
  }
  .user-filter .open .label::after {
     content: "▲";
  }
  .user-filter .label::after {
    content: "▼";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 3px solid #1f1f1f;
  }

/*  ------- КОНЕЦ СТиль фильтров выпадающий список-------  */