amqp==5.3.1
asgiref==3.8.1
beautifulsoup4==4.13.3
billiard==4.2.1
celery==5.4.0
certifi==2025.1.31
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==4.2.20
django-bootstrap-v5==1.0.11
django-extensions==3.2.3
django-filter==25.1
django-pgtrigger==4.13.3
idna==3.10
kombu==5.5.1
pillow==11.1.0
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
reportlab==4.3.1
requests==2.32.3
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
transliterate==1.10.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
