{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block header-css %}

    {% endblock %}
    <title>{% block title %}СДМО Админ-панель{% endblock title %}</title>
</head>
<body>
    {% include 'admin/inc/_header.html' %}
    <main class="d-flex flex-nowrap">

        {% block content %}

        {% endblock %}
    </main>


    
    
    {% include 'admin/inc/_footer.html' %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>